body{
    margin:0;
    padding:0;
    background-color: #4A4A4A;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.title a{
    text-decoration: none;
    color: rgb(231, 231, 231);
}
h1{
    font-size: 38px;
    text-shadow: 1px 2px black;
}
label{
    font-size: 20px;
    text-shadow: 1px 1px black;
}
select{
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    width: 20%;
    box-shadow: 1px 1px 3px black;
}
#send {
    font-size: 12px;
    font-weight: bold;
    margin-top:12px;
    padding:12px;
    width: 40%;
    cursor: pointer;
    box-shadow: 2px 2px 7px black;
}
#send:hover {
    box-shadow: 1px 1px 1px black;
}
.infos{
    margin-left: 30px;
    font-size: 32px;
    color: rgb(231, 231, 231);
    text-shadow: 1px 1px black;
}
h3{
    font-size: 26px;
    color: rgb(231, 231, 231);
    text-shadow: 1px 1px black;
}
.effectiveness{
    display: flex;
    flex-wrap: wrap;
}
.attributes{
    width: 700px;
    margin-left: 30px;
}
.attributes p {
    margin-left: 10px;
    font-size: 18px;
    color: rgb(231, 231, 231);
    text-shadow: 1px 1px black;
}
.att_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.type-list a {
    text-decoration: none;
    padding: 4px 10px;
    color: white;
    font-size: 16px;
    border-radius: 7px;
    text-shadow: 1px 1px #000000;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
}

/*table*/
table.darkTable {
    background-color: #272727;
    border-collapse: collapse;
    box-shadow: 1px 1px 5px;
    margin: 40px 20px;
}
table.darkTable tr:hover {
    background-color: #2e2e2e;
}
.nom a{
    text-decoration: none;
    font-size: 18px;
    text-shadow: 0px 1px black;
    color: rgb(251, 248, 255);
}
/*buttons*/
.type a {
    text-decoration: none;
    padding: 4px 10px;
    color: white;
    font-size: 12px;
    border-radius: 7px;
    width: 50px;
    text-shadow: 1px 1px #000000;
    cursor: pointer;
}
.psychic {
    border: 2px solid rgb(112, 45, 90);
    background-color: rgb(221, 87, 176);
}
.psychic:hover {
    background-color: rgb(112, 45, 90);
}
.fairy {
    border: 2px solid rgb(158, 80, 132);
    background-color: rgb(238, 167, 214);
}
.fairy:hover {
    background-color: rgb(156, 77, 130);
}
.poison {
    border: 2px solid rgb(73, 1, 73);
    background-color: rgb(179,0,119);
}
.poison:hover {
    background-color: rgb(73, 1, 73);
}
.grass{
    border: 2px solid rgb(0, 97, 0);
    background-color: rgb(2, 212, 48);
}
.grass:hover{
    background-color: rgb(0, 97, 0);
}
.normal{
    border: 2px solid rgb(17, 17, 17);
    background-color: rgb(105, 105, 105);
}
.normal:hover{
    background-color: rgb(17, 17, 17);
}
.flying{
    border: 2px solid rgb(104, 100, 121);
    background-color: rgb(171, 164, 199);
}
.flying:hover{
    background-color: rgb(104, 100, 121);
}
.fire{
    border: 2px solid rgb(77, 0, 0);
    background-color: rgb(241, 35, 35);
}
.fire:hover{
    background-color: rgb(77, 0, 0);
}
.ground{
    border: 2px solid rgb(131, 79, 11);
    background-color: rgb(248, 162, 48);
}
.ground:hover{
    background-color: rgb(131, 79, 11);
}
.water{
    border: 2px solid rgb(3, 97, 116);
    background-color: rgb(0,213,255);
}
.water:hover{
    background-color: rgb(3, 97, 116);
}
.steel{
    border: 2px solid rgb(2, 61, 73);
    background-color: rgba(73, 176, 197, 0.986);
}
.steel:hover{
    background-color: rgb(3, 97, 116);
}
.rock{
    border: 2px solid rgb(97, 51, 5);
    background-color: rgb(204,102,0);
}
.rock:hover{
    background-color: rgb(97, 51, 5);
}
.ghost{
    border: 2px solid rgb(38,0,77);
    background-color: rgb(55, 2, 107);
}
.ghost:hover{
    background-color: rgb(38,0,77);
}
.fighting{
    border: 2px solid rgb(90, 18, 3);
    background-color: rgb(153,25,0);
}
.fighting:hover{
    background-color: rgb(90, 18, 3);
}
.electric{
    border: 2px solid rgb(126, 126, 0);
    background-color: rgb(247, 247, 27);
}
.electric:hover{
    background-color: rgb(126, 126, 0);
}
.dragon{
    border: 2px solid rgb(5, 5, 78);
    background-color: rgb(6, 6, 143);
}
.dragon:hover{
    background-color: rgb(5, 5, 78);
}
.dark{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 3);
}
.dark:hover{
    background-color: rgb(71, 61, 61);
}
.ice{
    border: 2px solid rgb(22, 93, 107);
    background-color: rgb(179,242,255);
}
.ice:hover{
    background-color: rgb(22, 93, 107);
}
.bug{
    border: 2px solid rgb(62, 116, 9);
    background-color: rgb(140,255,25);
}
.bug:hover{
    background-color: rgb(62, 116, 9);
}
table.darkTable tbody td {
    color: #E6E6E6;
}
table.darkTable tr:nth-child(even) {
    background: #757575;
}
table.darkTable tr:nth-child(even):hover {
    background: #696969;
}
table.darkTable .nom{
    width: 180px;
    padding-left: 8px;
}
table.darkTable .type{
    width: 140px;
}
table.darkTable .vide{
    width: 200px;
}
table.darkTable .stats{
    text-align: center;
    text-shadow: 1px 1px black;
    width: 40px;
}
table.darkTable .desc{
    text-align: center;
    text-shadow: 1px 1px black;
    width: 600px;
}
.stat{
    color: rgb(168, 168, 168);
    text-shadow: 1px 1px black;
}
.btn-next{
    cursor: pointer;
    margin-left: 25%;
    font-size: 20px;
    background-color: #696969;
    width: 93px;
    padding: 10px;
    margin-bottom: 30px;
    border: 3px solid #1a1919;
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px black;
    border-radius: 4px;
}
.btn-next:hover{
    background-color: #555555;
    box-shadow: 1px 1px 1px black;
}
.btn-next a{
    text-decoration: none;
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #272727;
    height: 50px;
    border-top: 1px solid #1a1919;
    box-shadow: 1px 0px 5px;
}
footer p{
    display: flex;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 1px 1px black;
}

@media not screen and (min-width: 580px) {
    table.darkTable{
        margin: 20px 5px 5px 5px;
    }
    select{
        width: 60%;
    }
    #send{
        width: 60%;
    }
}

/* page individuelle */
.content {
    display: flex;
    flex-flow: row wrap;
    margin-left: 50px;
}
.sprite-perso {
    position: relative;
    border: 5px outset grey;
    border-radius: 10%;
    background-color: rgb(235, 235, 235);
    box-shadow: 1px 1px 3px black;
}
.sprite-shiny-toggled {
    margin-left: 30px;
    border: 5px outset goldenrod;
    border-radius: 10%;
    background-color: rgb(235, 235, 235);
    box-shadow: 1px 1px 3px black;
}
.sprite-shiny-none {
    display: none;
}
.content h3 {
    margin-left: 30px;
}
.content-btn button {
    margin-left: 30px;
    padding: 10px;
    border-radius: 15px;
    border: 3px outset grey;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(235, 235, 235);
}
.content-btn button:hover{
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}
.content-stat{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
/* fleches */
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}  
.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
@media screen and (max-width: 680px){
    .content{
        flex-flow: column wrap;
        margin-left: 0px;
        margin-top:30px;
    }
    .sprite-perso, .content-btn {
        align-self: center;
        margin-left: 0px;
        margin-top:30px;
        width: 180px;
    }
    .sprite-shiny{
        align-self: center;
        margin-top:30px;
        width: 180px;
        margin-left: 0px;
    }
    .content-stat{
        flex-flow: column wrap;
    }
    .content-stat table{
        margin-left: -30px;
        display: flex;
        align-self: center;
        width: 40%;
    }
    .smol-vignette{
        width: 10%;
    }
    div.effectiveness:nth-child(4) > div:nth-child(1) > p:nth-child(4) > img:nth-child(2){
        width: 15%;
    }
}